body{
    background-color: aquamarine;
    padding: 20px;
    margin: 0;
    border:2px solid black; 
}

.caja{
    background-color: lightblue;
    width: 200px;
    padding: 20px;
    border:5px solid blue;
    margin: 30px;
}