body{
    background-color: #eaeaea;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #004080;
    color: white;
    padding: 20px;

}
main{
    background-color: white;
    padding: 40px;
    margin: 0;
    min-height: 200px;
}
footer{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;

}
.tarjeta{
    background-color: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}