body{
    margin:0; 
    padding: 0;
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;

}
 header{
    background-color: #333;
    color: white;
    padding:20px;
    

 }
 main{
    background-color: white;
    padding:20px;
    margin: 0;
    
    min-height: 300px;

 }
 footer{
    background-color:  #444;;
    color: white;
    padding: 10px;
    text-align: center;

 }