
.contenedor{
    display:flex;
    flex-wrap: wrap;
    position: relative;   
}

.caja-1{
    position: relative;
    top:60px;
    left: 50px;;
    bottom: ;
    right: ;
    z-index: 10;
}
/*.caja-2{
    position: relative;
    top:50Px;
    left: 40px;
    z-index: 5;
}
.caja-3{
    position: relative;
    top: 20px;
    z-index: ;

}

    
